/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
=========================
body
=========================
*/
*,
*:before,
*:after{
    box-sizing: border-box;
}
/*
=========================
header
=========================
*/
header{

    display:flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    
}

/*
=========================
typography
=========================
*/

h1{
    margin-left: 3%;
    font:bold 2.2rem/2.9rem 'PT Serif', serif;
    color:#000;
    letter-spacing: -0.045em;
}
h3{
    margin-left: 3%;
    font:600 1.2rem/1.7rem "Poppins";
    text-transform: uppercase;
    color:#000;
}
h5{
    font:bold 0.7rem/1.3rem "Poppins";
}
p{
    margin-left: 3%;
    color:#000;

    font:400 0.8rem/1.1rem "Poppins";
    text-align: left;
}

/*
=========================
main
=========================
*/

.team{
      
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: center;
}
.person{
  
    width: 40%;

    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

    padding-bottom: 3%;
}
.left{
    padding-top:10%;
}
.position{
    align-self: flex-start;


    font: 600 0.3rem/0.5rem 'PT Sherif',serif;
    color:#000;
    text-transform: uppercase;

    
    writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align:top;
}
/*
=========================
images
=========================
*/


img{
    width:70%;
    padding-bottom: 3%;
}

/*
=========================
footer
=========================
*/

footer{

    margin-top: 20%;

    font: 500 0.5rem/1rem "Montserrat";
    text-align:center;
    color:#a9a9a9;

}

@media (min-width:451px){

    .container{

        display: flex;
        flex-direction: column;
        align-items:center;
        align-content: center;
        justify-content: center;

    }
/*
=========================
Typography
=========================
*/
h1{
    font:bold 2.2rem/2.9rem 'PT Serif', serif;
    color:#000;
    letter-spacing: -0.045em;
}

p{
   

    color:#000;

    font:400 1.2rem/1.7rem "Poppins";
    text-align: left;
}
h3{
    font:600 1.2rem/1.7rem "Poppins";
    text-transform: uppercase;
    color:#000;
}
h6{
    font: normal 12px/16px 'PT Sherif',serif;
    color:#000;
    text-transform: uppercase;
}
h5{
    font:bold 1.3rem/1.7rem "Poppins";
}


/*
=========================
header
=========================
*/
header{
    width: 50%;
    margin-top: 3%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 1%;
}
.intro{
    width: 40%;
}

/*
=========================
team
=========================
*/

.team{
    
    width: 50%;
    display: flex;
    flex-flow: row wrap;

}
.person{

    width: 33%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.name{
    width: 45%;
}

.position{
    font: 600 0.5rem/1rem 'PT Sherif',serif;
}
.left{
    padding-top:0;
}
.middle{
    padding-top:15%;
}
/*
=========================
image
=========================
*/
img{

    width:70%;
    padding-bottom: 3%;
}
/*
=========================
footer
=========================
*/
footer{
    margin-top: 5%;
    font: 500 0.7rem/1rem "Montserrat";
}
}